@media (max-width: 1440px) {
  .container-hero {
    top: 430px;
  }

  .container-refit {
    gap: 50px;
  }

  .refit-models {
    background-position: center;
  }

  .refit-models-item {
    padding-top: 50px;
  }

  .all-auto {
    left: 0;
  }

  .nissan-auto {
    right: 80px;
  }

  .infiniti-auto {
    left: -54px;
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1100px;
  }

  .container-refit {
    gap: 60px;
  }

  .container-hero {
    top: 425px;
  }

  .refit-models {
    background-position: center;
  }

  .all-auto {
    position: static;
  }

  .infiniti-auto {
    width: 100%;
  }

  .contacts-button {
    left: 34%;
  }

  .refit-card {
    padding: 80px 25px;
  }

  .questions-title p {
    padding: 5px 30px;
  }

  .questions-title .arrow {
    padding-left: 10px;
  }

  .contacts-title p {
    width: 15%;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 98px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .hero-info-block {
    gap: 20px;
  }

  .container {
    max-width: 960px;
  }

  .hero {
    margin-top: -240px;
  }

  .main-navigation ul {
    gap: 25px;
  }

  .header-bottom,
  .header-work,
  .header-adress {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-hero {
    top: 255px;
    flex-direction: column;
  }

  .hero-info-block {
    align-items: self-start;
  }

  .info-block-desc {
    text-align: left;
    padding-left: 0;
    padding-right: 250px;
  }

  .servises-cards {
    grid-template-columns: 1fr 1fr;
  }

  .refit-models {
    height: 600px;
  }

  .refit-models-item {
    padding-top: 6px;
  }

  .refit-card-buttom {
    margin-top: 80px;
  }

  .servises-card-img {
    left: -45px;
  }

  .about-title {
    width: 33%;
  }

  .contacts-title p {
    width: 17%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .container-header {
    display: none;
  }

  .container-header-mobile {
    display: block;
  }

  .main-navigation {
    width: 10%;
    order: 3;
  }

  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }

  .call-header {
    order: 2;
  }
}
